# Object files
*.o

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Compilations database
compile_commands.json

# clangd index
.cache/clangd/index/

# Python cache
tests/__pycache__/

# Pytest
.pytest_cache/

# CGO
sheepskin-cgo.h
